<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.6/engine/Shopware/Components/Plugin/schema/menu.xsd">

    <entries>
        <entry>
            <name>nlxPrivateFilesLoader</name>
            <label lang="en">Private files</label>
            <label lang="de">Private Dateien</label>
            <controller>PrivateFiles</controller>
            <action>index</action>
            <class>sprite-documents-stack</class>
            <parent identifiedBy="controller">Content</parent>
        </entry>
    </entries>
</menu>